.container{
  background-size: border-box;
  height: calc(100vh - 60px);
  padding: 1.4rem;
  display: flex; 
  justify-content: space-between;
  .infoContainer{
    height: calc((100vh - 60px) - 2.8rem);
    width: calc((100vw - 200px) - 4.2rem);
    background: #4B4B54;
    border-radius: 6px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .cardAudio{
      width: 470px;
    }
  }
}